streamlit==1.49.1
crewai-tools==0.73.0
litellm==1.74.9
python-dotenv==1.1.1
SpeechRecognition==3.14.3
crewai==0.186.1
solana==0.35.0
solders==0.21.0
qrcode==8.2
requests==2.32.5
construct==2.10.68
chroma-hnswlib==0.7.6
chromadb==0.5.23
